{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block body %}
<div class="flex flex-col items-center h-screen my-auto justify-center -mt-16">
    <div class="bg-white p-8 rounded shadow-md w-96">
        <h2 class="text-2xl font-semibold mb-4">Login</h2>
        <form action="" method="post">
            <div class="mb-4">
                <label for="username" class="block text-sm font-medium text-gray-600">Email</label>
                <input type="text" id="username" name="username" class="mt-1 p-2 border w-full rounded" required>
            </div>
            <div class="mb-8">
                <label for="password" class="block text-sm font-medium text-gray-600">Password</label>
                <input type="password" id="pass" name="pass" class="mt-1 p-2 border w-full rounded" required>
            </div>
            <button type="submit" class="bg-blue-700 text-white p-2 rounded hover:bg-blue-900 transition-colors w-full"
                onclick="this.form.submit()">Login</button>
        </form>

    </div>
</div>

{% endblock %}